<!doctype html>
<html lang="ru">
<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="https://springphoto.ru/image/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://springphoto.ru/fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/magnific-popup.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/jquery-ui.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://springphoto.ru/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/swiper.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/aos.css">
    <link rel="stylesheet" href="https://springphoto.ru/css/style.css">
</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-3" role="banner">

        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2" data-aos="fade-down">
                    <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">SPRING</a></h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li class="{{.Home}}"><a href="/">ГЛАВНАЯ</a></li>
<!--                            <li class="has-children">-->
<!--                                <a href="single.html">Gallery</a>-->
<!--                                <ul class="dropdown">-->
<!--                                    <li><a href="#">Nature</a></li>-->
<!--                                    <li><a href="#">Portrait</a></li>-->
<!--                                    <li><a href="#">People</a></li>-->
<!--                                    <li><a href="#">Architecture</a></li>-->
<!--                                    <li><a href="#">Animals</a></li>-->
<!--                                    <li><a href="#">Sports</a></li>-->
<!--                                    <li><a href="#">Travel</a></li>-->
<!--                                    <li class="has-children">-->
<!--                                        <a href="#">Sub Menu</a>-->
<!--                                        <ul class="dropdown">-->
<!--                                            <li><a href="#">Menu One</a></li>-->
<!--                                            <li><a href="#">Menu Two</a></li>-->
<!--                                            <li><a href="#">Menu Three</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
                            <li class="{{.Service}}"><a href="/service">УСЛУГИ</a></li>
                            <li class="{{.About}}"><a href="/about">О СЕБЕ</a></li>
                            <li class="{{.Contact}}"><a href="/contact">КОНТАКТЫ</a></li>
                            {{if .Auth}}
                            <li class="{{.Adding}}">
                                <a href="/admin/album/adding">ДОБАВИТЬ АЛЬБОМ</a>
                            </li>
                            {{end}}
                            {{if not .Auth}}
                                <li class="">
                                    <a href="/admin/login">ВХОД</a>
                                </li>
                            {{end}}
                        </ul>
                    </nav>
                </div>

                <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                    <div class="d-none d-xl-inline-block">
                        <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0"
                            data-class="social">
                            <li>
                                <a href="https://t.me/sashasprin" class="pl-0 pr-3" target="_blank"><span class="icon-telegram"></span></a>
                            </li>
                            <li>
                                <a href="https://vk.com/studiospringtime" class="pl-3 pr-3" target="_blank"><span class="icon-vk"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                            href="#" class="site-menu-toggle js-menu-toggle text-white"><span
                            class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>

    </header>

    {{embed}}

</div>

<script src="https://springphoto.ru/js/masonry.pkgd.min.js"></script>

<script src="https://springphoto.ru/js/jquery-3.3.1.min.js"></script>
<script src="https://springphoto.ru/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://springphoto.ru/js/jquery-ui.js"></script>
<script src="https://springphoto.ru/js/popper.min.js"></script>
<script src="https://springphoto.ru/js/bootstrap.min.js"></script>
<script src="https://springphoto.ru/js/owl.carousel.min.js"></script>
<script src="https://springphoto.ru/js/jquery.stellar.min.js"></script>
<script src="https://springphoto.ru/js/jquery.countdown.min.js"></script>
<script src="https://springphoto.ru/js/jquery.magnific-popup.min.js"></script>
<script src="https://springphoto.ru/js/bootstrap-datepicker.min.js"></script>
<script src="https://springphoto.ru/js/swiper.min.js"></script>
<script src="https://springphoto.ru/js/aos.js"></script>
<script src="https://springphoto.ru/js/picturefill.min.js"></script>
<script src="https://springphoto.ru/js/lightgallery-all.min.js"></script>
<script src="https://springphoto.ru/js/jquery.mousewheel.min.js"></script>

<script src="https://springphoto.ru/js/main.js"></script>

<script>
    $(document).ready(function () {
        $('#lightgallery').lightGallery();
    });
</script>
</body>
</html>