<div class="site-section"  data-aos="fade">
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">О себе</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-6">
                        <img src="/image/about.jpg" alt="Images" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <p>Меня зовут Александра Андриуца, и я профессиональный фотограф.  На этом сайте вы найдете мои лучшие работы, которые отражают красоту окружающего мира. Если вы ищете талантливого фотографа для реализации ваших творческих идей, свяжитесь со мной, и мы обязательно обсудим условия сотрудничества.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>