<div class="site-section"  data-aos="fade">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">Контакты</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row text-center">
            <div class="col-lg-3 ml-auto">
                <div class="mb-3">

                    <p class="mb-0 font-weight-bold text-white">Телефон</p>
                    <p class="mb-4"><a href="tel:89125438883">+7 (912)-543-88-83</a></p>


                </div>

            </div>
            <div class="col-lg-3 ml-auto">
                <div class="mb-3">

                    <p class="mb-0 font-weight-bold text-white">Email</p>
                    <p class="mb-0"><a href="mailto:sashaspring38883@mail.ru">sashaspring38883@mail.ru</a></p>

                </div>

            </div>

            <div class="col-lg-3 ml-auto">
                <div class="mb-3">

                    <p class="mb-0 font-weight-bold text-white">Telegram</p>
                    <p class="mb-0"><a href="https://t.me/sashasprin">t.me/sashasprin</a></p>

                </div>

            </div>

            <div class="col-lg-3 ml-auto">
                <div class="mb-3">

                    <p class="mb-0 font-weight-bold text-white">VK</p>
                    <p class="mb-0"><a href="https://vk.com/studiospringtime">vk.com/studiospringtime</a></p>

                </div>

            </div>
        </div>
    </div>
</div>