<script src="https://cdn.tailwindcss.com"></script>
<main class="grid min-h-full place-items-center bg-black px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-green-400" style="color: #20c997">{{.Code}}</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-white-900 sm:text-5xl">{{.Message}}</h1>
    <p class="mt-6 text-base leading-7 text-white-900">Что-то пошло не так...</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="https://springphoto.ru" style="background-color: #20c997" class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover: focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">На главную</a>
    </div>
  </div>
</main>